.display-board{
    display: flex;
    flex-direction: row;
}


.main-board{
    width: 900px;
    height: 900px;
    margin: 10px;
}

.board-size{
    display: flex;
    flex-wrap:wrap;
    margin: 10px auto 10px auto;
}

.board-cell {
   width: 45px;
   height:45px;
    border: 1px solid pink;
}

.display-info{
    margin: 10px auto 50px auto;
    height: 100px;
    width: 100px;
    border : 1px solid gold;
}